/* Document */

body {
    --cell-size: 20px;
    --nav-height: calc(var(--cell-size) * 3);
    --footer-height: var(--cell-size);

    font-family: 'Share Tech', sans-serif;
    user-select: none;
}

pre {
    font-family: 'Share Tech Mono', monospace;
}

.loader {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    padding-top: 10rem;
    font-size: 24pt;
}

.user-select {
    user-select: text;
    cursor: text;
}

.user-select-all {
    user-select: all;
    cursor: text;
}

/* AppComponent */

div#app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

nav {
    height: var(--nav-height);
}

/* WorkspaceComponent */

div#workspace {
    position: fixed;
    top: var(--nav-height);
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;

    background-image: url(/img/grid.png);
    background-repeat: repeat;
}

/* Gadgets */

div.gadget {
    --border-width: 2px;
    --port-height: calc(var(--cell-size) * 0.75);

    z-index: 1;
    position: absolute;
    display: inline-block;
    width: 320px;
    background: white;
    border: var(--border-width) solid var(--gadget-color);
}

div.gadget .header {
    cursor: move;
    padding-left: 0.5rem;
    background-color: var(--gadget-color);
}

div.gadget .content {
    padding: 0.75rem 0.5rem;
}

div.gadget .content pre {
    padding: 5px;
    margin-bottom: 0;
}

div.input-gadget {
    --gadget-color: var(--green);
    height: calc(var(--cell-size) * 6);
}

div.transform-gadget {
    --gadget-color: var(--orange);
    height: calc(var(--cell-size) * 4);
}

/* Ports */

div.input-port, div.output-port {
    position: absolute;
    z-index: -1;
    width: var(--cell-size);
    height: var(--port-height);
    border: var(--border-width) solid var(--gadget-color);
}

div.input-port {
    top: calc(-1 * var(--cell-size) * 0.75);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    background-color: var(--gadget-color);
}

div#workspace:not(.highlight-output-ports) div.input-port:not(.connected):hover {
    cursor: crosshair;
    border-color: blue;
    background-color: blue;
}

div.output-port {
    bottom: calc(-1 * var(--cell-size) * 0.75);
    border-top: none;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    background-color: white;
}

div#workspace:not(.highlight-available-input-ports) div.output-port:hover {;
    cursor: crosshair;
    border-color: blue;
    background-color: blue;
}

div.input-port.port0, div.output-port.port0 {
    left: calc(var(--cell-size) - var(--border-width));
}

div.input-port.port1, div.output-port.port1{
    left: calc(var(--cell-size) * 3 - var(--border-width));
}

div.input-port.port2, div.output-port.port2 {
    left: calc(var(--cell-size) * 5 - var(--border-width));
}

div.input-port.port3, div.output-port.port3 {
    left: calc(var(--cell-size) * 7 - var(--border-width));
}

div#workspace.highlight-available-input-ports div.input-port:not(.connected) {
    border-color: lightblue;
    background-color: lightblue;
}

div#workspace.highlight-output-ports div.output-port {
    border-color: lightblue;
    background-color: lightblue;
}

/* Pipes */

svg.pipe {
    --pipe-color: #948c8c;
    z-index: 0;
    display: inline-block;
    position: absolute;
}

svg.pipe path {
    stroke: var(--pipe-color);
    stroke-width: 10px;
}

svg.pipe path:hover {
    stroke: red;
}
